/* General styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    box-sizing: border-box;
}
  
.app {
    text-align: center;
    padding: 20px;
    margin-top: -150px; /* Move components slightly upwards from the center */
}

.heading {
    font-size: 36px;
    margin: 10px 0;
}

.subheading {
    font-size: 24px;
    margin: 10px 0 20px 0;
}


/* Styling for the grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1px; /* Space between grid items */
    background-color: white;
    padding: 10px;
    width: fit-content;
    margin: 0 auto; /* Center the grid */
  }
  
  /* Styling for grid items */
  .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px; /* Make the boxes square */
    border: 1px solid white; /* Reduced thickness of internal borders */
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Colors for different number types */
  .even {
    background-color: rgb(114, 161, 114);
    color: white;
  }
  
  .odd {
    background-color: rgb(228, 228, 11);
    color: black;
  }
  
  .prime {
    background-color: rgb(247, 31, 3);
    color: white;
  }
  