/* General styles */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #eedbdb;
}

.subheading {
  font-size: 24px;
  margin: 10px 0 20px 0;
  font-weight: lighter;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}

.chart-container {
  overflow-x: auto;
}

.chart-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.country {
  width: 200px;
  text-align: left;
}

.bar-container {
  flex-grow: 1;
  height: 40px;
  background-color: #f0f0f0d3;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 20px;
}

.bar {
  background-color: #ff9900e1;
  border-radius: 5px;
}

.population {
  width: 150px;
  text-align: right;
}